
        section{
            height: 100vh
        }
        {margin: 0px;
        padding: 0px;
        }
        html{
            scroll-behavior: smooth;
        }
        header nav ul{
            list-style: none;
            display: flex
            justify-content: end;
        }
        heder {
            margin-right: 15px;
        }
        /*
        комментарий
        */
        header nav ul li a{
            margin: right 15px;
            text-decoration: none;
            color: #000;
            font-size: 21px;
            line-height: 25px;
            font-weight: bold;

            border: 2px solid #000;
            padding: 5px 10px;
            border-radius: 20px;
            display: block;
            
            transition: all 0.3s;
        }
        header nav ul li a:hover{
            background: #000;
            color:#fff;
            transition: all 3s;
        }

    .product-card_info_title{
        display:flex;
    }
    .product-card_info{
        display: flex;
    }
    .product-card_info{
        width: 100%;
    }